/* CSS Document */
body
{
overflow:hidden;
background-image:url(images/bg-col.jpg);
width:100%;
}
#headDiv
{
position:absolute;
top:10px;
width:98.5%;
height:45px;
}
.mainPage{position:absolute;z-index:0;margin-left:300px;width:1500px;height:100%;}
#mainDiv
{
position:absolute;
top:70px;
width:98.5%;
height:100%;
}
#mainpart
{
position:absolute;
top:20px;
left:200px;
background-image:url(images/maekup/bg.png);
width:1200px;
height:400px;
overflow:hiden;
}
#footerDiv
{
position:absolute;
bottom:-10px;
background-image:url(images/floor.png);
width:100%;
height:45px;
}