/* CSS Document */
body
{
overflow:hidden;
background-color: #666666;
}
#headDiv
{
background-image:url(images/head.png);
position:absolute;
top:10px;
width:98.5%;
height:45px;
}
#mainDiv
{
background-color: #FFFFFF;
position:absolute;
top:45px;
width:98.5%;
height:88%;
}
#main
{
position:absolute;
top:100px;
width:100%;
height:85%;
z-index:0;
overflow:hiden;
}
#footerDiv
{
background-image:url(images/floor.png);
position:absolute;
bottom:0px;
width:98.5%;
height:45px;
}