@CHARSET "UTF-8";
.pic{margin-left:20%;width:590px;height:390px;background-image:url(images/pic.jpg);}
#sel{background-image:url(images/sel.png);position:absolute;top:5%;left:25%;width:520px;height:350px;z-index:100;}
#main{position:absolute;width:560px;height:240px;padding:2px;}
#pic_upload{position:absolute;}
#select_pic{position:absolute;margin-left:250px; top:50px;}
#btn{margin-top:50px;}
#radio{margin-top:10px;position:absolute;top:130px;margin-left:180px;}
#up,#next,#select_pic,#sure,#upload,#close{background-image:url(images/btn.jpg);height:30px;width:75px;font-size:20px;color:#fff;font-weight:bold;}
#up{position:absolute;margin-top:130px;margin-left:25%;}
#next{margin-left:33%;margin-top:130px;position:absolute;}
#upload{position:absolute;width:50px;height:30px;margin-top:20px;margin-left:10px;}
#close{width:39px;margin-top:15px;margin-left:460px;}
#btn_style{background-position:1% 1%;font-size:12px;height:24px;width:75px;background-image:url(images/btn.jpg);color:#fff;}